kind: GatewayService
name: {{ kebabCase .Service }}-dev
tags: [ns.{{ .Gateway }}]
host: {{ .UpstreamUrl.Host }}
port: {{ .UpstreamPort }}
protocol: {{ .UpstreamUrl.Scheme }}
retries: 0
routes:
  - name: {{ kebabCase .Service }}-dev
    tags: [ns.{{ .Gateway }}]
    hosts:
      - {{ kebabCase .Service }}.dev.api.gov.bc.ca
    {{- if .UpstreamUrl.Path }}
    paths: [{{ .UpstreamUrl.Path }}]
    {{- end }}
    methods:
      - GET
    strip_path: false
    https_redirect_status_code: 426
    path_handling: v0
    request_buffering: true
    response_buffering: true
plugins:
  - name: jwt-keycloak
    tags: [ns.{{ .Gateway }}]
    enabled: true
    config:
      allowed_iss:
      - https://dev.loginproxy.gov.bc.ca/auth/realms/apigw
      allowed_aud: ap-{{ kebabCase (print .Gateway "-default") }}-dev
      run_on_preflight: true
      iss_key_grace_period: 10
      maximum_expiration: 0
      algorithm: RS256
      claims_to_verify:
      - exp
      uri_param_names:
      - jwt
      cookie_names: []
      scope: null
      roles: null
      realm_roles: null
      client_roles: null
      anonymous: null
      consumer_match: true
      consumer_match_claim: azp
      consumer_match_claim_custom_id: true
      consumer_match_ignore_not_found: false
  - name: request-transformer
    tags: [ns.{{ .Gateway }}]
    enabled: true
    config:
      http_method: null
---
kind: CredentialIssuer
name: {{ .Gateway }} default
description: Default Authorization Profile for {{ .Gateway }} Gateway
flow: client-credentials
mode: auto
authPlugin: jwt-keycloak
clientAuthenticator: client-secret
clientRoles: []
inheritFrom: Gold Shared IdP
---
kind: DraftDataset
name: {{ kebabCase .Service }}-dataset
title: {{ .Service }}
organization: {{ .Organization }}
organizationUnit: {{ .OrganizationUnit }}
notes: Some information about the {{ .Service }} service
tags: [{{ kebabCase .Service }}, openapi]
license_title: Access Only
view_audience: Government
security_class: PUBLIC
record_publish_date: '2021-05-27'
---
kind: Product
name: {{ .Service }} API
dataset: {{ kebabCase .Service }}-dataset
environments:
  - name: dev
    active: false
    approval: false
    flow: client-credentials
    credentialIssuer: {{ .Gateway }} default
    services: [{{ kebabCase .Service }}-dev]
