kind: Namespace
name: {{ .Namespace }}
displayName: {{ .Namespace }} Display Name
---
kind: GatewayService
name: {{ snakecase .Service }}-dev
tags: [ns.{{ .Namespace }}]
host: {{ .Upstream.Host }}
port: {{ .UpstreamPort }}
protocol: {{ .Upstream.Scheme }}
retries: 0
routes:
  - name: {{ snakecase .Service }}-dev
    tags: [ns.{{ .Namespace }}]
    hosts:
      - {{ snakecase .Service }}.dev.api.gov.bc.ca
    {{- if .Upstream.Path }}
    paths: [{{ .Upstream.Path }}]
    {{- end }}
    methods:
      - GET
    strip_path: false
    https_redirect_status_code: 426
    path_handling: v0
    request_buffering: true
    response_buffering: true
plugins:
  - name: jwt-keycloak
    tags: [ns.{{ .Namespace }}]
    enabled: true
    config:
      allowed_iss:
      - https://dev.loginproxy.gov.bc.ca/auth/realms/apigw
      allowed_aud: ap-{{ snakecase (print .Namespace "-default") }}-dev
      run_on_preflight: true
      iss_key_grace_period: 10
      maximum_expiration: 0
      algorithm: RS256
      claims_to_verify:
      - exp
      uri_param_names:
      - jwt
      cookie_names: []
      scope: null
      roles: null
      realm_roles: null
      client_roles: null
      anonymous: null
      consumer_match: true
      consumer_match_claim: azp  
      consumer_match_claim_custom_id: true
      consumer_match_ignore_not_found: false    
  - name: request-transformer
    tags: [ns.{{ .Namespace }}]
    enabled: true
    config:
      http_method: null
---
kind: CredentialIssuer
name: {{ .Namespace }} default
description: Default Authorization Profile for {{ .Namespace }} Gateway
flow: client-credentials
mode: auto
authPlugin: jwt-keycloak
clientAuthenticator: client-secret
clientRoles: []
inheritFrom: Gold Shared IdP
---
kind: DraftDataset
name: {{ snakecase .Service }}-dataset
title: {{ .Service }}
organization: ministry-of-citizens-services
organizationUnit: databc
notes: Some information about the {{ .Service }} service
tags: [{{ snakecase .Service }}, openapi]
license_title: Access Only
view_audience: Government
security_class: LOW-PUBLIC
record_publish_date: '2021-05-27'
---
kind: Product
appId: '{{ appId 12 }}'
name: {{ .Service }} API
dataset: {{ snakecase .Service }}-dataset
environments:
  - name: dev
    appId: '{{ appId 8 }}'
    active: false
    approval: false
    flow: client-credentials
    credentialIssuer: {{ .Namespace }} default
    services: [{{ snakecase .Service }}-dev]
# ---
# kind: ProductEnvironment
# name: dev
# product: {{ .Service }} API
# appId: '{{ appId 8 }}'
# active: false
# approval: true
# flow: client-credentials
# credentialIssuer: {{ .Namespace }} default
# services: [{{ snakecase .Service }}-dev]
