services:
  - name: {{ snakecase .Service }}-dev
    tags: [ ns.{{ .Namespace }} ]
    host: {{ .Upstream.Host }}
    port: {{ .UpstreamPort }}
    protocol: {{ .Upstream.Scheme }}
    retries: 0
    routes:
      - name: {{ snakecase .Service }}-dev
        tags: [ ns.{{ .Namespace }} ]
        hosts:
        - {{ snakecase .Service }}.dev.api.gov.bc.ca
        paths:
        - /
        methods:
        - GET
        strip_path: false
        https_redirect_status_code: 426
        path_handling: v0
        request_buffering: true
        response_buffering: true
